.settings-container {
	position: relative;
}
#container {
	position: absolute;
	right: 35px;
	top: -1px;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	width: 150px;
}

ul li {
	display: block;
	background-color: #373737;
	padding: 3px;
	border-bottom: 1px solid #2f2f2f;
	border-right: 1px solid #444444;
	border-left: 1px solid #444444;
	cursor: pointer;
}

ul li:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top: 1px solid #444444;
}
ul li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom: 1px solid #444444;
}

a {
	display: block;
	line-height: 30px;
	color: #efefef;
	text-decoration: none;
	padding: 0 10px;
}

a:hover {
	color: #fff;
	background-color: #444444;
	border-radius: 8px;
}

/* Hide Dropdowns by Default */
ul ul {
	display: none;
	position: absolute;
	left: 20px;
}

/* Display Dropdowns on Hover */
ul li:hover > ul {
	display: inherit;
	z-index: 1;
}

/* First Tier Dropdown */
ul ul li {
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
	top: 0px;
	left: 0px;
}

/* Second, Third and more Tiers	*/
ul ul ul li {
	position: relative;
	top: 0px;
	left: 0px;
}

.hidden {
	display: none;
}
