#delete-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}

#delete-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 25vh;
}

#delete-modal {
	background-color: #373737;
	border-radius: 8px;
	padding: 20px 25px;
	z-index: 110;
	width: 60vw;
	max-width: 500px;
}

#button-container {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
}

#delete-button-perm {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: #da7474;
}

#delete-button-perm p {
	margin: 0;
}

/*  General button styling*/

button {
	border-radius: 8px;
	color: #fff;
	text-align: center;
	border: none;
	width: 110px;
	padding: 9px 5px;
}

.secondary-button {
	background-color: transparent;
	border: 1px solid #8d95e6;
}
