* {
    color: #fff;
    font-family: sans-serif;
}

body {
    padding: 2em;
    background-color: #1e1e1e;
}

h2 {
    padding-top: 30px;
}

button {
    background-color: #262626;
    border: 2px solid #7379b8;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: smaller;
    cursor: pointer;
}

#search {
    width: 100%;
    padding: 12px 10px;
    background-color: #262626;
    border: 2px solid #2F2F2F;
    border-radius: 8px;
    font-size: medium;
}

svg {
    width: 2.5em;
    height: 2.5em;
    fill: #8D95E6;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    align-items: center;
}

.item, .file-item {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    border: 2px solid #2F2F2F;
    border-radius: 8px;

}

.plain {
    width: 100%;
    max-width: 600px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 10px;
}

.folder-name, .file-name {
    padding-left: 10px;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mtime {
    padding-right: 10px;
    font-size: smaller;
    color: #b0b0b0;
}

#add-container {
    width: 100%;
    position: sticky;
    bottom: 0px;
    background-color: #1e1e1e;
    padding-top: 20px;
}